# Ignore Python bytecode cache directories
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore editor swap/temp files
*.swp
*.swo
*.~
*.zip

# Ignore data folder
csv/
.assets-installed.json
dist/
release/
release2/
build/
tools/